<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinuo.appointment.mapper.WeatherMapper">
  <resultMap id="BaseResultMap" type="com.inuol.entity.Weather">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wind_dir" jdbcType="VARCHAR" property="windDir" />
    <result column="wind_sc" jdbcType="VARCHAR" property="windSc" />
    <result column="cond_txt" jdbcType="VARCHAR" property="condTxt" />
    <result column="tmp" jdbcType="VARCHAR" property="tmp" />
    <result column="qlty" jdbcType="VARCHAR" property="qlty" />
    <result column="query_date" jdbcType="TIMESTAMP" property="queryDate" />
    <result column="day_time" jdbcType="VARCHAR" property="dayTime" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wind_dir, wind_sc, cond_txt, tmp, qlty, query_date, day_time, location, create_date, 
    update_date
  </sql>
  <select id="selectByExample" parameterType="com.inuol.entity.WeatherCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_weather
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_weather
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.inuol.entity.WeatherCriteria">
    delete from t_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.inuol.entity.Weather">
    insert into t_weather (id, wind_dir, wind_sc, 
      cond_txt, tmp, qlty, 
      query_date, day_time, location, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{windDir,jdbcType=VARCHAR}, #{windSc,jdbcType=VARCHAR}, 
      #{condTxt,jdbcType=VARCHAR}, #{tmp,jdbcType=VARCHAR}, #{qlty,jdbcType=VARCHAR}, 
      #{queryDate,jdbcType=TIMESTAMP}, #{dayTime,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.inuol.entity.Weather">
    insert into t_weather
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="windDir != null">
        wind_dir,
      </if>
      <if test="windSc != null">
        wind_sc,
      </if>
      <if test="condTxt != null">
        cond_txt,
      </if>
      <if test="tmp != null">
        tmp,
      </if>
      <if test="qlty != null">
        qlty,
      </if>
      <if test="queryDate != null">
        query_date,
      </if>
      <if test="dayTime != null">
        day_time,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="windDir != null">
        #{windDir,jdbcType=VARCHAR},
      </if>
      <if test="windSc != null">
        #{windSc,jdbcType=VARCHAR},
      </if>
      <if test="condTxt != null">
        #{condTxt,jdbcType=VARCHAR},
      </if>
      <if test="tmp != null">
        #{tmp,jdbcType=VARCHAR},
      </if>
      <if test="qlty != null">
        #{qlty,jdbcType=VARCHAR},
      </if>
      <if test="queryDate != null">
        #{queryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dayTime != null">
        #{dayTime,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.inuol.entity.WeatherCriteria" resultType="java.lang.Long">
    select count(*) from t_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_weather
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.windDir != null">
        wind_dir = #{record.windDir,jdbcType=VARCHAR},
      </if>
      <if test="record.windSc != null">
        wind_sc = #{record.windSc,jdbcType=VARCHAR},
      </if>
      <if test="record.condTxt != null">
        cond_txt = #{record.condTxt,jdbcType=VARCHAR},
      </if>
      <if test="record.tmp != null">
        tmp = #{record.tmp,jdbcType=VARCHAR},
      </if>
      <if test="record.qlty != null">
        qlty = #{record.qlty,jdbcType=VARCHAR},
      </if>
      <if test="record.queryDate != null">
        query_date = #{record.queryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dayTime != null">
        day_time = #{record.dayTime,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_weather
    set id = #{record.id,jdbcType=BIGINT},
      wind_dir = #{record.windDir,jdbcType=VARCHAR},
      wind_sc = #{record.windSc,jdbcType=VARCHAR},
      cond_txt = #{record.condTxt,jdbcType=VARCHAR},
      tmp = #{record.tmp,jdbcType=VARCHAR},
      qlty = #{record.qlty,jdbcType=VARCHAR},
      query_date = #{record.queryDate,jdbcType=TIMESTAMP},
      day_time = #{record.dayTime,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.inuol.entity.Weather">
    update t_weather
    <set>
      <if test="windDir != null">
        wind_dir = #{windDir,jdbcType=VARCHAR},
      </if>
      <if test="windSc != null">
        wind_sc = #{windSc,jdbcType=VARCHAR},
      </if>
      <if test="condTxt != null">
        cond_txt = #{condTxt,jdbcType=VARCHAR},
      </if>
      <if test="tmp != null">
        tmp = #{tmp,jdbcType=VARCHAR},
      </if>
      <if test="qlty != null">
        qlty = #{qlty,jdbcType=VARCHAR},
      </if>
      <if test="queryDate != null">
        query_date = #{queryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dayTime != null">
        day_time = #{dayTime,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inuol.entity.Weather">
    update t_weather
    set wind_dir = #{windDir,jdbcType=VARCHAR},
      wind_sc = #{windSc,jdbcType=VARCHAR},
      cond_txt = #{condTxt,jdbcType=VARCHAR},
      tmp = #{tmp,jdbcType=VARCHAR},
      qlty = #{qlty,jdbcType=VARCHAR},
      query_date = #{queryDate,jdbcType=TIMESTAMP},
      day_time = #{dayTime,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>