<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.hngxt.product.mapper.MatchProductMapper">

 <!-- 查询当前打标签的上架产品 -->
 <select id="queryMatchProduct" resultType="com.ark.hngxt.product.domain.MatchProduct">
	SELECT t.`product_id` AS productId,t.`product_type` AS productType,t.`tags`  FROM `match_product` t 
	JOIN (SELECT t.`id`,'1' AS `type` FROM `credit_product` t WHERE t.`status`=1
	UNION ALL
	SELECT t.`id`,'2' AS `type` FROM `finance_product` t WHERE t.`status`=1) p ON t.`product_id`=p.id AND t.`product_type`=p.type
	WHERE t.`status`=1
 </select>
</mapper>